<div th:fragment="header">
  <header class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
      <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"></use></svg>
      <span class="fs-4">Книги📚</span>
    </a>

    <ul class="nav nav-pills">
      <li class="nav-item"><a href="/" class="nav-link active" aria-current="page">Главная</a></li>
      <li class="nav-item"><a href="/blog" class="nav-link">Моя библиотека</a></li>
      <li class="nav-item"><a href="/blog/add" class="nav-link">Добавить</a></li>
      <li class="nav-item"><a href="/faq" class="nav-link">FAQs</a></li>
      <li class="nav-item"><a href="/about" class="nav-link">О сайте</a></li>
    </ul>
  </header>
</div>